h1,
h2,
h3,
h4,
h5,
h6 {
  color: #8d96a0;
}

a {
  text-decoration: none;
  color: #07ace4;
}

p {
  font-size: 19px;
  line-height: 30px;
}

a:hover {
  text-decoration: none;
  color: #07ace4;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

ul li {
  list-style: none;
  margin-top: 20px;
  border-left: 1px solid #fff;
  padding-left: 15px;
}

h6 {
  margin-top: 5px;
}

p {
  margin: 0px;
}

h1 {
  margin-top: 10px;
}

h3.headline {
  margin-bottom: 50px;
  margin-top: 100px;
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  border-block-end: 1px solid rgba(243, 10, 41, 0.8431372549);
}

.headline {
  margin-top: 70px;
  margin-bottom: 70px;
  letter-spacing: 2px;
  color: #b3b3b3;
  font-size: 34px;
}

body {
  background-color: #0d1117;
  color: #e6edf3;
  font-family: "Noto Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin-bottom: 50px;
}

.slide__wrap .pic {
  height: 70vh;
}
@media screen and (max-width: 600px) {
  .slide__wrap {
    padding-top: 50px;
    margin-top: 50px;
  }
}
.slide__wrap .cap p {
  font-size: 14px;
  line-height: 20px;
  color: #e6edf3;
}
.slide__wrap .cap p b {
  color: rgba(243, 10, 41, 0.8431372549);
}
@media screen and (max-width: 600px) {
  .slide__wrap .cap p {
    font-size: 12px;
    text-align: center;
  }
}

.slider__section {
  margin-top: 70px;
  margin-bottom: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #3d4a52;
  box-shadow: inset 1px 1px 5px #000;
}

.slide {
  width: 60%;
}

.slider-thumbnav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-thumbnav ul li a img {
  height: 100px !important;
}

header.header {
  display: flex;
  justify-content: end;
}

.btn {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #fff;
  height: 50px;
  line-height: 50px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  box-shadow: 1px 2px 20px #881e1e;
  display: inline-block;
  border-radius: 3px;
}

.header__wrap {
  margin-top: 50px;
  margin-bottom: 170px;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.left {
  border-right: 1px solid #e6edf3;
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.left h3,
.left h4 {
  margin-bottom: 0;
  margin-top: 10px;
}

.left h3 {
  color: #555;
  font-size: 34px;
}

.left h4 {
  text-shadow: 1px 0px 0px #7c7979;
  color: #111;
}

.right {
  width: 50%;
}

.projects__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.projects__section a {
  margin-top: 30px;
}

.picture {
  height: 170px;
  overflow: hidden;
}

.picture img {
  width: 100%;
}

.capture {
  padding: 20px;
}

footer {
  margin-top: 100px;
  padding-bottom: 50px;
}

.about__block {
  margin-top: 70px;
}

.skills ul {
  margin-top: 50px;
}

.slide {
  overflow: hidden;
  height: 400px;
  box-shadow: 2px 3px 20px #000;
}

.uk-panel {
  height: 400px;
}

.uk-thumbnav {
  justify-content: space-around;
}

.modal {
  background-color: #0d1117;
  border: 1px solid #555;
  box-shadow: 1px 2px 20px #3d3d3d;
}

.modal__form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

textarea,
input {
  background-color: #0d1117;
  height: 30px;
  border-top: 0;
  border-bottom: 1px solid #3d4a52;
  border-right: 0;
  border-left: 0;
  color: #e6edf3;
  margin-bottom: 20px;
}

button {
  background-color: #0d1117;
  height: 30px;
  border: 0;
  color: #e6edf3;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.slide__wrap {
  display: flex;
  height: 70vh;
  align-items: center;
}

.cap {
  text-align: right;
  width: 50%;
  color: red;
  box-shadow: 3px 1px 20px #111;
}

.pic {
  overflow: hidden;
  height: 600px;
  text-align: center;
}

.overlay {
  height: 70vh;
}

.pic img {
  width: 90%;
}

.about__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.uk-slideshow-nav {
  justify-content: center;
  margin-top: 20px;
}

.uk-slideshow-nav li a {
  border-radius: 0;
  width: 100px;
  height: 700px;
}

.footer__section .uk-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.footer__section {
  margin-top: 70px;
  border-top: 1px solid #c3c3c3;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (max-width: 776px) {
  .header_continner {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: start;
  }
  .header__wrap {
    display: block;
  }
  .left,
  .right {
    width: 100%;
  }
  .about__block {
    display: block;
  }
  .slide__wrap {
    display: block;
    height: 400px;
  }
  .cap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .overlay {
    height: 400px;
  }
  .header {
    padding: 0 20px;
    color: #000;
    color: #fff;
    justify-content: start !important;
  }
  .headline {
    margin-bottom: 50px !important;
  }
  .header__wrap {
    padding-top: 0 !important;
    margin-top: 0;
  }
  .right {
    margin-top: 70px;
    margin-bottom: 100px;
    color: #000;
  }
  .footer__section .uk-container {
    display: block;
  }
  .footer__about {
    margin-top: 50px;
  }
  .btn {
    margin-top: 30px;
  }
  .experiense ul li {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=common.css.map*/