@media (min-width: 576px) { 
   
}

@media (min-width: 768px) { 
    header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    main,
    section {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .avatar__wrap {

        justify-content: start;
    }
    .headline__wrap {
        h1, p {
            text-align: left;
        }
    }
    .exp__list {
        li {
            border-bottom: 1px dashed #222;
        }
        .point {
            bottom: -7px;
            left: 0;
        }
    }
    .education__list {
        border-left: 2px solid #222;
        li {
            list-style: none;
        }
    }
}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 

}
@media (max-width: 575.98px) { 
    main,
    section {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .exp__list {
        .point {
            top: 0;
            left: -7px;
        }
        li {
        padding-left: 50px;
        border-left: 1px dashed #222;
        border-bottom: 0;
        padding-top: 50px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    
    .exp__list {
        .point {
            left: 0;
            bottom: -7px;
        }
        li {
            padding-left: 50px;
            border-left: 1px dashed #222;
            padding-top: 50px;
            border-bottom: 0;
    
        }
    }
    .education__list {
        border-bottom: 2px solid #222;
        li {
            list-style: none;
        }
    }
    
}
@media (min-width: 768px) and (max-width: 991.98px) { 

}
@media (min-width: 992px) and (max-width: 1199.98px) { 

}
@media (min-width: 1200px) { 

}