p, a, li {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300;
}
body {
    background-color: #f3f3f3 !important;
}
.lng {
    color: #fff;
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 50;
    text-transform: uppercase;
}
a.lng:hover {
    color: #fff;
    text-decoration: none;
}
.card {
    margin: 15px;
}   
.about__wrap p {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.9;
}
.project__card-thumb img {
    height: 230px !important;  
}
.grad {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}
h1.title {
    padding-bottom: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    font-size: 34px;
    text-shadow: 1px 1px 2px #222;
    margin-bottom: 50;
    text-transform: uppercase;
}
.hdln {
    text-align: center;
    padding-bottom: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    font-size: 34px;
    text-shadow: 1px 1px 2px #222;
    margin-bottom: 50;
    text-transform: uppercase;
}
header.header {
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
footer {
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) !important;

}
.cards-wrap a {
    height: 300px !important;
    overflow: hidden;
}
.project__card {
   display: block !important;
    height: 400px !important;
    overflow: hidden;
  
}
.card img {
    max-width: 100%;
    height: audio;
}
section {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.dob__section{
   padding-top: 100px;
}
a.project__card {
    display: inline-block;
    height: 300px;
    overflow: hidden;
}
 