body {
    background-color: #c3c3c3`;
}
header {
    height: 70px;
    background-color: #222;
    box-shadow: 1px 1px 20px #b2b2b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c3c3c3;
}