body {
    background-color: #c3c3c3`;
}
header {
    height: 70px;
    background-color: #222;
    box-shadow: 1px 1px 20px #b2b2b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c3c3c3;
}
.carousel-item {
    max-width: 100%;
    height: 700px;
}
.headline__section {
    margin-top: 50px;
    margin-bottom: 50px;
}
.photo {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.photo img {
    max-width: 100%;
    width: 150px;
}
.wrk__wrapper {
    display: flex;
    flex-direction: row;
}
.wrk__wrapper .wrk_item {
    width: 30%;
}

.wrk__wrapper .wrk_item img {
    max-width: 100%;
    width: 700px;
}