body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 !important;
    background: rgb(237,238,174);
    background: radial-gradient(circle, rgba(237,238,174,1) 19%, rgba(198,236,154,0.6839110644257703) 44%, rgba(112,231,108,1) 100%);
}
    .wrapper {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
main {
    margin-top: 20px;
}
main .card {
    max-width: 350px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 1px 2ps 10px #222;
}
.scan {
    height: 24px;
}
footer {
    margin-top: auto;
    background-color: #fff;
}
.slick {
  
}
.card {
    padding: 30px 15px;
    margin: 10px;
}
.card_title {
    font-size: 18px;
    font-weight: 600;
}
.card_body {
    display: flex;
}
.card_body .photo {
    max-width: 50%;
    height: auto;
    padding-top: 20px;
}
.card_body .photo img {
    max-width: 100%;
    height: audio;
    border: 1px solid rgb(174, 250, 174);

}
.card_body-desc {
    padding-left: 15px;
}
.hr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    border-bottom: 1px solid rgb(174, 250, 174);
}
.card_body-desc p {
    font-size: 12px;
    word-break: break-all;
}
.card_footer h3 {
    font-weight: 500;
    text-transform: uppercase;
    font-weight: 600;
}
.slick-dots {
    display: flex;  
    justify-content: center;
}
.slick-dots li {
    margin: 5px;
    list-style: none;
    border: 1px solid #000;
    height: 7px;
    width: 7px;
    border-radius: 50%;
}
.slick-dots li.slick-active {
    background-color: #000;
}
.slick-dots li button {
    visibility: hidden;
    display: none;

}
.update_date {
    text-align: center;
    margin-top: 5px;
    font-size: 12px;
}
footer.site_footer {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
}
footer.site_footer a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
     
}
footer.site_footer a:hover {
    text-decoration: none;
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99;
    height: 100%;
    }
       
    #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(img/diia-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    }