body {
    background-color: $bg;
    color: $text;
    font-family: "Noto Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.container {
    margin-bottom: 50px;
}